.logo{
    width: 70px;
    height: auto;
    border-radius: 50px;
}

.Carrusel img{
    width: 80%;
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aaa;
}

.Encabezado{
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    background-color: #4caf50;
    color: white;
    padding: 15px 30px;
}

.titulo{
    font-size: 1.8em;
    text-align: center;
    flex: auto;
}

.contenedor-articulos {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 25px;
  padding: 30px;
  background-color: #f8f9f4;
}

.articulo {
  flex: 1 1 300px; 
  max-width: 350px;
  background-color: #610909;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  padding: 20px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover */
.articulo:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

/* Imagen dentro de cada artículo */
.articulo img {
  width: 100%;
  max-height: 220px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Título */
.articulo h3 {
  color: #fffefd; 
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.contenedor-articulos {
  display: flex;
  justify-content:baseline;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 25px;
  padding: 30px;
  background-color: #f8f9f4;
}

.articulo {
  flex: 1 1 300px; 
  max-width: 350px;
  background-color: #610909;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  padding: 20px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover */
.articulo:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

/* Imagen dentro de cada artículo */
.articulo img {
  width: 100%;
  max-height: 320px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}